{% include 'trainer_header.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div >

        <form action=""style="margin-left:  20rem ;margin-top: 20rem;">
        <label for="Username">Username</label><br>
        <input type="text" placeholder="Enter your Username"><br>
        <label for="Password">Password</label><br>
        <input type="Password"placeholder="Enter your Password"><br><br>
            <input type="checkbox">
            <label for="Remember Me">Remember Me</label><br><br>
        <input type="Submit"value="Login">

    </form>





</div>

</body>
</html>